
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #F0F4F8;
   font-weight: 300;
}

/* add styles here */
a{
   color : blue;

}
/* Navigation Bar */
nav {
   background-color: #007BFF;
   padding: 1rem;
   text-align: center;
}

nav ul {
   list-style: none;
}

nav ul li {
   display: inline;
   margin: 0 15px;
}

nav ul li a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s ease;
}

nav ul li a:hover {
   color: #FFD700;
}

